%h1 Listing tasks
%table
  %tr
    %th Project
    %th Task type
    %th Description
    %th
    %th
    %th
  - @tasks.each do |task|
    %tr
      %td= task.project_id
      %td= task.task_type_id
      %td= task.description
      %td= link_to 'Show', task
      %td= link_to 'Edit', edit_task_path(task)
      %td= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Task', new_task_path
