/= link_to 'Generate Timesheet', new_timesheet_path, :class => 'pull-right btn' 
%h1 All Timesheets
= render 'search'
= paginate @timesheets, window: 2
%br
- @timesheets.each do |timesheet|  
  .timesheet
    %h3
      = timesheet.user.try(:name)
      &nbsp;&nbsp
      = timesheet.date.strftime("%d %b %Y")
      &nbsp;&nbsp
      Total Time: #{total_time_spent(timesheet)} hours
    %table.table
      %tr
        %th Project
        %th Task Type	    
        %th Description	    
        %th Timespent
      - timesheet.tasks.each do |task|
        = render :partial=>'tasks/task', :locals => {:task => task}    
    %br/
    %br/